@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

h1 {
    color: rgb(78, 75, 75);
    margin-bottom: 5rem;
    font-family: 'Fjalla One', sans-serif;
}

.container h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
}

.container {
    border: none;
    border-radius: 6px;
    height: 480px;
    width: 360px;
    float: left;
    margin: 0 2rem 2.5rem 3rem;
    padding: 15px;
    background: linear-gradient(to left, #ffffff, #f6f8fa);
    box-shadow: 2px 2px 8px rgba(151, 139, 139, 0.479), -2px -2px 4px rgba(160, 148, 148, 0.479);
}

.container img {
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 12rem;
}

.container a {
    display: block;
    background-color: red;
    padding: 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    transition: background-color 0.7s;
    font-family: 'Red Rose', cursive;
}

.container p {
    font-family: 'Red Rose', cursive;
}

.container a:hover {
    background-color: blue;
}

.container h2,
.container p,
.container a {
    text-align: center;
}